<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjtu.yifei.performance">

    <application>
        <service
            android:name=".AppLeakCanaryService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>