<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjtu.yifei.hybrid">

    <application>
        <activity
            android:name=".HybridActivity"
            android:label="@string/title_activity_hybrid"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>