<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjtu.yifei.eyes">

    <application>
        <activity
            android:name=".ui.EyesActivity"
            android:label="@string/title_activity_eyes"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>